*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #00639c;
}
section.content{
	width: 100%;
    padding: 8% 24%;
}
h3{
	text-align: center;
}
.upload-file{
	border: 5px solid #858585;
    border-radius: 30px;
    padding: 36px;
}
.orange{
	background-color: rgb(227 69 0);
	border: 0;
}
.valid-danger{
	color: red;
}
section.table-section{
	width: 100%;
    padding: 8% 5%;
}
.delete-icon{
	color: #cf0000;
}
